<template>
  <div id="event-page">
    <div class="flex">
      <div id="event-info" class="box">
        <div class="heading">Details</div>
        <EventDetails class="content" :event="event" :status="status"></EventDetails>
      </div>

      <div id="event-entries" class="box">
        <div class="heading">Entries</div>
        <div class="content">
          <EventEntriesProgress :event="event" :status="status"></EventEntriesProgress>
          <div id="event-actions">
            <EventJoin :token="token" :event="event" :status="status"></EventJoin>
            <EventLeave :token="token" :event="event" :status="status"></EventLeave>
          </div>
          <EventEntriesDescription :status="status"></EventEntriesDescription>
          <EventEntriesSlots :event="event" :status="status"></EventEntriesSlots>
        </div>
      </div>
    </div>

    <div class="flex">
      <div id="event-body" class="box">
        <div class="heading">Description</div>
        <article id="event-description" class="content" v-html="event.description"></article>
      </div>
    </div>

    <footer class="box">
      <div class="content">
        <div>
          Copyright (C) 2018-2020 Ole Reglitzki
        </div>
        <div>
          Source code:
          <a href="https://gitlab.com/frissdiegurke/fcfs-events-frontend">frontend</a>,
          <a href="https://gitlab.com/frissdiegurke/fcfs-events-backend">backend</a>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
  import axios from "axios";
  import template from "lodash.template";
  import EventDetails from "../../../components/event/details";
  import EventJoin from "../../../components/event/join";
  import EventLeave from "../../../components/event/leave";
  import EventEntriesProgress from "../../../components/event/entries-progress";
  import EventEntriesDescription from "../../../components/event/entries-description";
  import EventEntriesSlots from "../../../components/event/entries-slots";

  const meta = JSON.parse(process.env.meta);
  const titleT = template(process.env.eventTitle);

  export default {
    name: "Event",
    components: {
      EventEntriesSlots,
      EventDetails,
      EventJoin,
      EventLeave,
      EventEntriesProgress,
      EventEntriesDescription
    },
    data() {
      return { token: this.$route.query.token };
    },
    asyncData({ params, query }) {
      return axios.get(`${ process.env.apiURL }/${ params.id }?token=${ query.token }`)
        .then((res) => ({ event: res.data.event, status: res.data.status }));
    },
    head() {
      return {
        title: titleT({ page: "event", event: this.event, token: this.token }),
        meta,
      };
    },
  };
</script>

<style lang="scss" scoped>
  .flex {
    display: flex;
    flex-wrap: wrap;
  }

  #event-info {
    flex-grow: 1;
  }

  #event-entries {
    flex-grow: 9;
    flex-basis: 0;
    display: flex;
    flex-direction: column;

    > .content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: -0.5em 0;

      /*
      Due to display:contents we need to apply the positive margin on each descendant individually
      rather than simply using the code below.

      > * {
        margin: 0.5em 0;
      }
      */
    }
  }

  @media (max-width: 768px) {
    #event-info {
      flex-grow: 1;
    }
    #event-entries {
      flex-basis: 100%;
    }
  }

  #event-body {
    flex-grow: 1;
  }

  #event-actions {
    display: flex;
    margin: 0.5em -1em 0.5em -1em;

    > * {
      margin: 0 1em;
    }
  }

  @mixin box(
    $box-padding-x: 1.4em,
    $box-padding-y: 1em,
    $heading-padding-x: $box-padding-x,
    $heading-padding-y: $box-padding-y
  ) {
    background: white;
    margin: 0 1em 1.7em 1em;

    > .heading {
      font-family: monospace;
      padding: $heading-padding-y $heading-padding-x;
      text-transform: uppercase;
      border-bottom: 1px solid fade_out(black, .9);
    }

    > .content {
      padding: $box-padding-y $box-padding-x;
    }
  }

  .box {
    @include box(1.8em, 1.8em, 1.5em, 1em);
  }

  #event-body {
    @include box(1.5em, 1.8em, 1.5em, 1em);

    .content > /deep/ *:first-child {
      margin-top: 0;
    }

    .content > /deep/ *:last-child {
      margin-bottom: 0;
    }
  }

  footer .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
</style>
