<template>
  <table id="event-details">
    <tbody>
    <tr>
      <td>Title</td>
      <td class="text-mono">{{event.title}}</td>
    </tr>
    <tr>
      <td>Start</td>
      <td class="text-mono" :title="event.schedule.start | dateFormatFull">
        {{event.schedule.start | dateFormat}}
      </td>
    </tr>
    <tr v-if="event.schedule.close < event.schedule.start">
      <td>Join Freeze</td>
      <td class="text-mono" :title="event.schedule.close | dateFormatFull">
        {{event.schedule.close | dateFormat}}
      </td>
    </tr>
    <tr v-if="event.schedule.stick < event.schedule.start">
      <td>Leave Freeze</td>
      <td class="text-mono" :title="event.schedule.stick | dateFormatFull">
        {{event.schedule.stick | dateFormat}}
      </td>
    </tr>
    <tr v-if="event.options.entries.min != null || event.options.entries.max != null">
      <td>Entry Slots</td>
      <td class="text-mono">
        <span v-if="event.options.entries.min != null">{{event.options.entries.min}}</span>
        <span
          v-if="event.options.entries.min != null && event.options.entries.max != null">&ndash;</span>
        <span v-if="event.options.entries.max != null">{{event.options.entries.max}}</span>
      </td>
    </tr>
    </tbody>
  </table>
</template>

<script>
  const dateTimeFormatter = new Intl.DateTimeFormat("de", {
    dateStyle: "medium",
    timeStyle: "short",
  });

  export default {
    name: "EventDetails",
    props: ["event", "status"],
    filters: {
      dateFormat(date) {
        return dateTimeFormatter.format(date);
      },
      dateFormatFull(date) {
        return new Date(date).toString();
      },
    },
  };
</script>

<style lang="scss" scoped>
  table {
    border-spacing: 0;
    width: 100%;
  }

  tr {
    &:nth-child(2N-1) {
      background-color: rgba(103, 113, 121, 0.1);
    }

    td {
      padding: 0.4em 0.7em;
    }

    td:first-child {
      text-align: right;
      font-weight: bold;
    }
  }
</style>
