<template>
  <div class="entries-progress">
    <div v-if="status.event.entries != null" id="progress-indication">
      <div class="progressbar" v-if="event.options.entries.max != null"
           :data-sufficed="status.event.sufficed"
           :data-full="status.event.entries === event.options.entries.max">
        <div class="progress"
             :style="{width: (100 * status.event.entries / event.options.entries.max) + '%'}"></div>
        <div class="progress-text">
          <span class="text-mono">{{status.event.entries}} / {{event.options.entries.max}}</span>
        </div>
      </div>
      <div v-if="event.options.entries.max == null" class="text-mono"
           :class="'text-' + (status.event.sufficed ? 'success' : 'danger')">
        {{status.event.entries}} entry slots taken.
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "EventEntriesProgress",
    props: ["event", "status"],
  };
</script>

<style lang="scss" scoped>
  .entries-progress {
    display: contents;
  }

  $border-width: 2px;
  $height: 2.6em;

  #progress-indication {
    margin: 0.5em 0;
  }

  .progressbar {
    width: 100%;
    height: $height;
    border: $border-width solid #864e4e;

    .progress {
      max-width: 100%;
      height: 100%;
      margin-bottom: -$height;
      background: #ff000030;
    }

    .progress-text {
      color: #864e4e;
      font-weight: bold;
    }

    &[data-sufficed] {
      border-color: #426600;

      .progress {
        background: #6eaa004f;
      }

      .progress-text {
        color: #426600;
      }
    }

    &[data-full] {
      .progress {
        background: #4262083b;
      }
    }

    .progress-text {
      margin-top: 2 * $border-width;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      > span {
        text-align: center;
      }
    }
  }
</style>
