<template>
  <div class="entries-slots">
    <div v-if="showSlots">
      <div class="heading">Slots</div>
      <ol id="event-slots-list">
        <li v-for="entry in status.event.slots" :key="entry.name" :class="{self: entry.self}">
          <EventEntry :entry="entry"></EventEntry>
        </li>
        <li class="placeholder" v-for="(ignored, index) in placeholderSlots" :key="index">
          &nbsp;
        </li>
      </ol>
    </div>

    <div v-if="showQueue">
      <div class="heading">Queue</div>
      <ol id="event-queue-list">
        <li v-for="(entry, index) in status.event.queue" :key="entry.name"
            :class="{self: entry.self}">
          <span class="text-mono queue-index">{{printIndex(index)}}:</span>
          <EventEntry :entry="entry"></EventEntry>
        </li>
      </ol>
    </div>
  </div>
</template>

<script>
  import EventEntry from "./entry";

  export default {
    name: "EventEntriesSlots",
    components: { EventEntry },
    props: ["event", "status"],
    methods: {
      printIndex(idx) {
        return (idx < 9 ? "0" : "") + (idx + 1);
      }
    },
    computed: {
      showSlots() {
        return this.status.event.slots != null;
      },
      showQueue() {
        return this.status.event.queue != null && this.status.event.queue.length > 0;
      },
      placeholderSlots() {
        const slots = this.status.event.slots.length, maxEntries = this.event.options.entries.max;
        if (maxEntries == null || maxEntries <= slots) {
          return [];
        }
        return new Array(maxEntries - slots);
      },
    },
  };
</script>

<style lang="scss" scoped>
  .heading {
    margin-bottom: 0.5em;
    letter-spacing: 0.04em;
    font-family: serif;
    text-transform: uppercase;
    font-weight: bold;
  }

  .entries-slots {
    display: contents;

    > div {
      margin: 0.5em 0;
    }
  }

  ol {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5em;
    padding: 0;

    > li {
      display: inline-block;
      margin: .5em;
      padding: .5em .8em;
      background: #fff8de;
      border: 1px solid fade_out(black, .85);
      flex-basis: 11em;
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;

      &.self {
        background: #0a86dd24;
      }

      &.placeholder {
        background: transparent;
      }
    }
  }
</style>
