<template>
  <form method="post" :action="actionURL">
    <input name="token" type="hidden" v-model="token"/>
    <button type="submit" class="btn-danger" :disabled="!mayLeave">Leave</button>
  </form>
</template>

<script>
  export default {
    name: "EventLeave",
    props: ["token", "event", "status"],
    computed: {
      actionURL() { return `${process.env.apiURL}/${this.event._id}/leave`; },
      mayLeave() { return this.status.self.joined && !this.status.event.sticky; },
    },
  };
</script>
